
.articlecardeds {
  display: flex;
}
.container-cards {
  display: flex;
  width: 1040px;
  flex-wrap: wrap;
  justify-content: center;
  
}
.carded {
  margin: 0.5em 1em 1em 1em;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 235px;
  transition: all 0.25s ease-in;
    background-color: rgba(233, 233, 233, 0.356);

}

.carded:hover{
  transform: translateY(-5px);
  border: none;
  box-shadow: 0px 4px 15px rgba(38, 38, 38, 0.2);
  background-color: #cccccc23;

  .carded-header img {
  transform: scale(1.1, 1.04);
}}

.carded-header img {
  width: 100%;
  height: 145px;
  object-fit: cover;
  transition: all 0.5s ease-in;
}

.carded-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 20px;
  padding-left: 20px;
  min-height: 260px;
  padding-bottom: 1.2em;
}

.carded-main {
  min-height: 190px;
  padding-bottom: 1.2em;
}

.tagged {
    display: flex;
    padding-bottom: 1em !important;
}



.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #080808;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 0.3em;
  font-weight: 700;
}
.tag-teal {
  background-color: $sidebar;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.carded-body p {
  font-size: 13px;
  margin: 0 0 5px;
  line-height: 1.6em;
  font-size: 0.9em;
}

.user {
  display: flex;
  
}

.user img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}

