/* Add your own style here */
.btn-primary {
    color: rgb(255, 255, 255) !important;
    background-color: $navbar !important;
    border-color: $navbar !important;
    border-radius: 5em !important;
    padding-top: 1em;
}

// .btn-success {
//     color: #fff;
//     background-color: $brand-color;
//     border-color: $brand-color;
//     display: flex !important;
//     margin: 0 auto;
//     height: 2em;
//     margin-top: -1.8em;
//     font-size: 1em;
//     pointer-events: none;
// }

.recommendations-layout {
    display: none !important;
}


#fas {
    position: fixed;
    bottom: 8px;
    right: 8px;
    cursor: pointer;
    color: #606060;
    
}

#fas:hover {
    animation: icon 1s ease-in-out
}

@-webkit-keyframes icon {
    0%{
        bottom: 8px
    }
    25%{
        bottom: 15px   
    }
    50% {
        bottom: 8px
    }
    75%{
        bottom: 15px   
    }
    100% {
        bottom: 8px
    }
}
@keyframes icon {
    0%{
        bottom: 8px
    }
    25%{
        bottom: 15px   
    }
    50% {
        bottom: 8px
    }
    75%{
        bottom: 15px   
    }
    100% {
        bottom: 8px
    }
}
    // Search


.searched {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.searchedBox {
  animation: searchedBox-reveal 1s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  height: 32px;
  min-width: 32px;
  border-radius: 8px;
  padding: 8px;
//   box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.24), 0 1.5px 3px rgba(0, 0, 0, 0.32);
  transition: all 0.8s;
  &:hover {
    //box-shadow: 0 3px 4.5px rgba(0, 0, 0, 0.32), 0 3px 4.5px rgba(0, 0, 0, 0.4);
  }
  &:hover > .searchedInput {
    transition: all 0.8s cubic-bezier(0.16, 0.2, 0.32, 1.4);
    width: 120px;
    padding: 2px 2px;
    
  }
  @media only screen and (max-width: 885px) {
      &:hover > .searchedInput {
            width: 50px;
      }
  
  }
}

.searchedInput {
  background: none;
  border: none;
  outline: none;
  float: left;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  width: 0px;
  font-family: "Lexend Deca";
  padding: 8px 0px;
  
  &:valid > .searchedBox {
    box-shadow: 0 3px 4.5px rgba(0, 0, 0, 0.32), 0 3px 4.5px rgba(0, 0, 0, 0.4);
  }
}

.searchedButton {
  color: white;
  width: 32px;
  height: 32px;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //margin-left: 0.5px;
  cursor: pointer;
}

input::placeholder {
  color: white;
  font-family: "Lexend Deca";
  opacity: 0.5;
}
