/* Add your own style here */
.btn-primary {
    color: rgb(255, 255, 255) !important;
    background-color: $navbar !important;
    border-color: $navbar !important;
    border-radius: 5em !important;
    padding-top: 1em;
}

// .btn-success {
//     color: #fff;
//     background-color: $brand-color;
//     border-color: $brand-color;
//     display: flex !important;
//     margin: 0 auto;
//     height: 2em;
//     margin-top: -1.8em;
//     font-size: 1em;
//     pointer-events: none;
// }

.recommendations-layout {
    display: none !important;
}


#fas {
    position: fixed;
    bottom: 8px;
    right: 8px;
    cursor: pointer;
    color: #062872;
    
}

#fas:hover {
    animation: icon 1s ease-in-out
}

@-webkit-keyframes icon {
    0%{
        bottom: 8px
    }
    25%{
        bottom: 15px   
    }
    50% {
        bottom: 8px
    }
    75%{
        bottom: 15px   
    }
    100% {
        bottom: 8px
    }
}
@keyframes icon {
    0%{
        bottom: 8px
    }
    25%{
        bottom: 15px   
    }
    50% {
        bottom: 8px
    }
    75%{
        bottom: 15px   
    }
    100% {
        bottom: 8px
    }
}
    