///////////////////////////////theme-toggler///////////////////////////

// body.light {

body{

  background-color: #cac6c6c2;
  color: #0c0c0c;

.navigation {
    // background: #434a4e;
    background-color: #f7f7f7;
}

nav ul li a, nav ul li a:visited {
    // color: #fdfcfc;
    color:#080808;
    font-weight: bold;
}

.highlight {
    background: #ded;
}

table tr td {
    border: 1px solid #9b9b9b;
    background-color: #f7f7f7;
}

table tr th {
    border: 1px solid #9b9b9b;
    background-color: #f7f7f7;
}

.container-grid {
    background: #f7f7f7;
}

.main-container {
    background-color: #f7f7f7;
}

.sidebar {
    background-color: #f7f7f7;
}

.shadow {
    box-shadow: 0 0rem 0.2rem 0 #00000026 !important;
}

.outline {
    background-color: #f7f7f7;
}

.toc2 {
    background-color: #f7f7f7;
}

.commentbox {
    background-color: #fff;
}

.label .ball {
    background-color: #f7f7f7;
}

.border {
    border: 1px solid #dee2e6 !important;
    background-color: #f4f4f4;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.border-content {
    border: 1px solid #d1d1d1c5 !important;
    background-color: #eeeded !important;
    color: #0c0c0c !important;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.active {
    background-color: $brand-color !important;
    color: #ffffff !important;
    
}

.active-content {
    background-color: $brand-color !important;
    color: #080808 !important;
    
}

.rounded a {
    color: $brand-color;

}


}



.bordered:hover{
    transform: translateY(-1px)!important;
    background-color: $h-color !important;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.portfolioFilter li a {
    background-color: #b8b8b860;
}

.portfolioFilter li a:hover, .portfolioFilter li a.active {
    color: #f7f7f7 !important;
    background-color: $brand-color;
}

#fas {
    color: $brand-color;
}

.tag-teal {
    background-color: #8e979d;
}

.tag {
    background: $h-color;
    color: #000;
}
#thread__container{
        background-color: #dadada;
}

.post-nav p a:hover {

    background: #344154;
    box-shadow: 0 0 9px 0px #02046845;
    
}




.border:active{
    background-color: $h-color !important;
}


a#pills-cloud-tab.rounded.active {
    color: #444 !important;
    background-color: $brand-color !important;
    }
  
  a#pills-smart-tab.rounded.active {
    color: #444 !important;
    background-color: $brand-color !important;
    }
  
  a#pills-apps-tab.rounded.active {
    color: #444 !important;
    background-color: $brand-color !important;
    }
  
  a#pills-rounded-tab.rounded.active {
    color: #444 !important;
    background-color: $brand-color !important;
    }
   
/// Body Dark

// body.dark {
 
  
// }



//// create variables //

// body {
  
//     background-color: var(--body-background-color);

//     color: var(--body-color);

// .navigation {
//     background: var(--navigation-background);
// }

// nav ul li a, nav ul li a:visited {
//     color: var(--nav-a-color);
// }

// .highlight {
//     background: var(--highlight-background);
// }

// table tr td {
//     border: 1px solid var(--table-border-tr-td-color);
//     background-color: var(--table-tr-td-background-color);
// }

// table tr th {
//     border: 1px solid var(--table-border-tr-th-color);
//     background-color: var(--table-tr-th-background-color);
// }

// .container-grid {
//     background: var(--container-grid-background-color)
// }

// .main-container {
//     background-color: var(--main-container-background-color)
// }

// .sidebar {
//     background-color: var(--sidebar-background-color)
// }

// .shadow {
//     box-shadow: 0 0.5rem 1rem var(--shadow-box-shadow-color) !important;
// }

// .outline {
//     background-color: var(--outline-background-color)
// }

// .toc2 {
//     background-color: var(--toc2-background-color)
// }

// .commentbox {
//     background-color: var(--commentbox-background-color)
// }

// .label .ball {
//     background-color: var(--label-ball-background-color)
// }
  
// }