

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #2a2b2c;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 55px;
    transform: scale(0.8);
}

.label .ball {
    background-color: #ededed;
    border-radius: 50%;
    position: absolute;
    top: 2.5px;
    left: 2px;
    height: 20.5px;
    width: 20.5px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(28px);
}


.fa-moon-o {
    color: #0f84f1;
}

.fa-sun-o {
    padding-left:.5em;
    color: #f3ef12;
}

