---
layout: page
title: Computational Fluid Dynamics
permalink: /cfd/
description:
---


<section id="closepad" id="first" class="main special" class="section bg-light" id="projects">
    <div class="container">

        <div class="portfolioContainer row">

            {% assign sorted = site.learnings | sort: 'date' | reverse %} {% for item in sorted %}

            {% if item.categories[0] == "cfd" %}

            <div class="col-lg-4 col-md-6 mt-4 pt-2  
                {% if item.categories[0] %} {{item.categories[0] }}{% endif %}
                {% if item.categories[1] %} {{item.categories[1] }}{% endif %}
                {% if item.categories[2] %} {{item.categories[2] }}{% endif %}
                {% if item.categories[5] %} {{item.categories[5] }}{% endif %}
                {% if item.categories[6] %} {{item.categories[6] }}{% endif %}
                {% if item.categories[7] %} {{item.categories[7] }}{% endif %}
                {% if item.categories[8] %} {{item.categories[8] }}{% endif %}">


                <div class="articlecardeds">

                    <div class="container-cards">

                        <a href="{{item.url  | relative_url }}" class="nostyle">
                            <div class="carded">
                                <div class="carded-header">
                                    <img src="{{item.image | relative_url}}" alt="{{item.title}}" />
                                </div>
                                <div class="carded-body">

                                    <div class="carded-main">

                                        <h5 class="pt-2">
                                            {{item.title}}
                                        </h5>
                                        <p>
                                            {{item.description | strip_html | truncate: 110 }}
                                        </p>


                                    </div>

                                    <div class="tagged">

                                        {% if item.tags[0] %}<div class="tag tag-teal">{{item.tags[0] }}</div>
                                        {% endif %}
                                        {% if item.tags[1] %} <div class="tag tag-teal">{{item.tags[1] }}</div>
                                        {% endif %}
                                        {% if item.tags[2] %} <div class="tag tag-teal">{{item.tags[2] }}</div>
                                        {% endif %}
                                        {% if item.tags[3] %} <div class="tag tag-teal">{{item.tags[3] }}</div>
                                        {% endif %}
                                        {% if item.tags[4] %} <div class="tag tag-teal">{{item.tags[4] }}</div>
                                        {% endif %}
                                        {% if item.tags[5] %} <div class="tag tag-teal">{{item.tags[5] }}</div>
                                        {% endif %}

                                    </div>

                                    <div class="user">
                                        <div class="user-info">

                                            <small>
                                                <time id="postedon" datetime="{{ item.date | date_to_xmlschema }}">
                                                    Posted on {{ item.date | date: "%B %-d, %Y" }}
                                                </time>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>



            </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>
</section>