---
layout: page
title: Projects
permalink: /projects/
description: These are the projects I have worked on.
---

<!-- {% assign sorted = site.projects | sort: 'date' | reverse %} {% for item in
sorted %}
<a href="{{item.url  | relative_url }}" class="nostyle">
  <div
    class="border rounded mt-3 row work cards borders rounded overflow-hidden"
    data-aos="fade-up"
  >
    <div class="col-md-6 work-ind">
      <div
        class="work-image"
        style="background-image: url({{item.image  | relative_url }})"
      ></div>
    </div>
    <div class="col-md-6 details">
      <h1 class="double-u">{{item.title}}</h1>
      <p>{{item.description | truncate: 120}}</p>
       <p class="company">
        <strong>Client:</strong><span> {{item.company}}</span>
      </p> 
      <p class="date">
        <strong>Date:</strong><span> {{ item.date | date: '%B %d, %Y' }}</span>
      </p>
    </div>
  </div>
</a>
{% endfor %} -->


<div class="articlecardeds">

    <div class="container-cards">
        {% assign sorted = site.projects | sort: 'date' | reverse %} {% for item in sorted %}
        <a href="{{item.url  | relative_url }}" class="nostyle">
            <div class="carded">
                <div class="carded-header">
                    <img src="{{item.image | relative_url}}" alt="{{item.title}}" />
                </div>
                <div class="carded-body">

                    <div class="carded-main">

                        <h5 class="pt-2">
                            {{item.title}}
                        </h5>
                        <p>
                            {{item.description | strip_html | truncate: 110 }}
                        </p>

                    </div>                    

                    <div class="tagged">

                        {% if item.tags[0] %}<div class="tag tag-teal">{{item.tags[0] }}</div> {% endif %}
                        {% if item.tags[1] %} <div class="tag tag-teal">{{item.tags[1] }}</div> {% endif %}
                        {% if item.tags[2] %} <div class="tag tag-teal">{{item.tags[2] }}</div> {% endif %}
                        {% if item.tags[3] %} <div class="tag tag-teal">{{item.tags[3] }}</div> {% endif %}
                        {% if item.tags[4] %} <div class="tag tag-teal">{{item.tags[4] }}</div> {% endif %}
                        {% if item.tags[5] %} <div class="tag tag-teal">{{item.tags[5] }}</div> {% endif %}

                    </div>

                    <div class="user">
                        <div class="user-info">

                            <small>
                                <time id="postedon" datetime="{{ item.date | date_to_xmlschema }}">
                                    Posted on {{ item.date | date: "%B %-d, %Y" }}
                                </time>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}

    </div>
</div>