---
layout: default
type: home
title: Aditya Amatya
---

<!--
Every section you see here in the website homepage are included here.
All these included files are found inside '_includes' folder.
You can edit them there.
 -->
<div class="intro" style="text-align: justify; display: flex;">
    <div class="profile px-2">

        <p>I'm a Mechanical Design Engineer at Entegra Sources Pvt. Ltd., an outsourcing
            company that offers engineering services. I received my Bachelor
            in Mechanical Engineering
            in 2019 from <a href="https://pcampus.edu.np/" target="_blank">Pulchowk Campus, Institute of Engineering,
                Tribhuvan
                University</a>. During my college, I did various projects that honed me in learning different
            aspects of mechanical engineering. I performed a group project on fixed-wing Unmanned Aerial Vehicle(UAV) as
            a final
            year project.</p>
        <p> Currently, I am actively looking for Phd Position in Mechanical Engineering. </p>
        <p> I'm interested in research and development and passionate about mechanical engineering for the greater good
            of
            society. I'm experienced in CAD modelling and mechanical analysis and concerned with product design through
            both,
            Engineering and Reverse Engineering.</p>

        <p>Outside of academics, I like playing <a href="https://lichess.org/@/EngagedKnight" target="_blank">
                chess</a>,
            reading, hiking and viewing nature.</p>

    </div>

    <!-- <div class="reserachinterest">

        <h3>Research Interest</h3>
        <ul>
            <li>
                Computational Fluid Dynamics
            </li>
        </ul>

    </div>

    </div> -->


</div>


{% include projects.html %}

<div>
    <div class="text-center .py-sm-4">
        <a href="{{'/projects/' | relative_url }}" class="btn btn-primary">View more </a>
    </div>
</div>


{% include learnings.html %}

<div>
    <div class="text-center .py-sm-4">
        <a href="{{'/learnings/' | relative_url }}" class="btn btn-primary">View more </a>
    </div>
</div>


<!-- {% include blogs.html %}

<!-- <div>
    <div class="text-center .py-sm-4">
        <a href="{{'/blog/' | relative_url }}" class="btn btn-primary">View more </a>
    </div>
</div> -->

