<head>
    
    <!-- Custom Blog CSS here -->
    <link rel="stylesheet" href="{{'/blog_assets/css/bootstrap.min.css'| relative_url }}">
    <link rel="stylesheet" href="{{'/blog_assets/css/bootstrap.min.css'| relative_url }}">
    <link rel="stylesheet" href="{{'/blog_assets/css/bootstrap.min.css'| relative_url }}">
    <link rel="stylesheet" href="{{'/blog_assets/css/animate.min.css'| relative_url }}">
    <link rel="stylesheet" href="{{'/blog_assets/css/magnific-popup.css'| relative_url }}">
    <link rel="stylesheet" href="{{'/blog_assets/css/fontawesome-all.min.css'| relative_url }}">
    <link rel="stylesheet" href="{{'/blog_assets/css/imageRevealHover.css'| relative_url }}">
    <link rel="stylesheet" href="{{'/blog_assets/css/swiper-bundle.css'| relative_url }}">
    <link rel="stylesheet" href="{{'/blog_assets/css/flaticon.css'| relative_url }}">
    <link rel="stylesheet" href="{{'/blog_assets/css/slick.css'| relative_url }}">
    <link rel="stylesheet" href="{{'/blog_assets/css/spacing.css'| relative_url }}">
    <link rel="stylesheet" href="{{'/blog_assets/css/main.css'| relative_url }}">
</head>