<div class="sidebar">
    <div class="author-container shadow">

        <div style="padding:1em;">
            <div class="input-group mb-3" data-aos="zoom-in">
                <input type="text" placeholder="Search.." class="form-control border-right-0" id="search-input" />
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>

        {% if site.toc %} {% include toc.html html=content class="toc2 rev clearfix"%}
        {% endif %}
        </div>
        
       


      

        

    </div>
