<h2 class="m0a" data-aos="fade-up">My Learnings:</h2>
<!-- <div class="projects">
    {% assign sorted = site.learnings | sort: 'date' | reverse %}
    {% for item in sorted limit:6 %}
    <a href="{{item.url | relative_url}}" class="nostyle p-3">
        <div class="project borders cards rounded overflow-hidden" data-aos="fade-up">
            <div class="project-image" style="background-image: url({{item.image | relative_url}})"></div>
            <p class="title" style="text-align:center;">{{item.title}}</p>
        </div>
    </a>
    {% endfor %}
</div> -->

<div class="articlecardeds">

    <div class="container-cards">
        {% assign sorted = site.learnings | sort: 'date' | reverse %} {% for item in sorted limit:6 %}
        <a href="{{item.url  | relative_url }}" class="nostyle">
            <div class="carded">
                <div class="carded-header">
                    <img src="{{item.image | relative_url}}" alt="{{item.title}}" />
                </div>
                <div class="carded-body">

                    <h4>
                        {{item.title}}
                    </h4>
                    <p>
                        {{item.content | strip_html | truncate: 110 }}
                    </p>

                    <div style="display: flex;">

                        {% if item.tags[0] %}<div class="tag tag-teal">{{item.tags[0] }}</div> {% endif %}
                        {% if item.tags[1] %} <div class="tag tag-teal">{{item.tags[1] }}</div> {% endif %}
                        {% if item.tags[2] %} <div class="tag tag-teal">{{item.tags[2] }}</div> {% endif %}
                        {% if item.tags[3] %} <div class="tag tag-teal">{{item.tags[3] }}</div> {% endif %}
                        {% if item.tags[4] %} <div class="tag tag-teal">{{item.tags[4] }}</div> {% endif %}
                        {% if item.tags[5] %} <div class="tag tag-teal">{{item.tags[5] }}</div> {% endif %}

                    </div>

                    <div class="user">
                        <div class="user-info">

                            <small>
                                <time id="postedon" datetime="{{ item.date | date_to_xmlschema }}">
                                    {{ item.date | date: "%B %-d, %Y" }}
                                </time>
                            </small>
                            <small>
                                <a href="{{item.url  | relative_url }}"
                                    style="position:relative; margin-left:0.5em;">Read
                                    more ..</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}

    </div>
</div>
