---
layout: pageWithoutLeftSidebar
title: Blog
permalink: /blog/
description:
description: Find all the posts here.
---
<section id="closepad" id="first" class="main special" class="section bg-light" id="projects">
    <div class="container">


        <!-- blog-details-area -->

        <section class="blog-details-area">
            <div class="container">
                <div class="row justify-content-center">
                    
                    <div class="col-xl-9 col-lg-7">
                        <div class="blog-post-wrapper">

                            

                                    <div class="articlecardeds">

                                        

                                        <div class="portfolioContainer container-cards ">
                                            {% assign sorted = site.articles | sort: 'date' | reverse %} {% for item in sorted
                                            %}

                                            <div class="{% if item.categories[0] %}
                                            {{item.categories[0] }}{%
                                            endif %}
                                            {% if item.categories[1] %}
                                            {{item.categories[1] }}{%
                                            endif %}
                                            {% if item.categories[2] %}
                                            {{item.categories[2] }}{%
                                            endif %}
                                            {% if item.categories[5] %}
                                            {{item.categories[5] }}{%
                                            endif %}
                                            {% if item.categories[6] %}
                                            {{item.categories[6] }}{%
                                            endif %}
                                            {% if item.categories[7] %}
                                            {{item.categories[7] }}{%
                                            endif %}
                                            {% if item.categories[8] %}
                                            {{item.categories[8] }}{%
                                            endif %}">

                                            <a href="{{item.url  | relative_url }}" class="nostyle">
                                                <div class="carded">
                                                    <div class="carded-header">
                                                        <img src="{{item.image | relative_url}}" alt="{{item.title}}" />
                                                    </div>
                                                    <div class="carded-body">
        
                                                        <div class="carded-main">
        
                                                            <h5 class="pt-4">
                                                                {{item.title}}
                                                            </h5>
                                                            <p>
                                                                {{item.description | strip_html | truncate: 110 }}
                                                            </p>
        
                                                        </div>
        
                                                        <div class="tagged">
        
                                                            {% if item.tags[0] %}<div class="tag tag-teal">{{item.tags[0] }}
                                                            </div> {% endif %}
                                                            {% if item.tags[1] %} <div class="tag tag-teal">{{item.tags[1] }}
                                                            </div> {% endif %}
                                                            {% if item.tags[2] %} <div class="tag tag-teal">{{item.tags[2] }}
                                                            </div> {% endif %}
                                                            {% if item.tags[3] %} <div class="tag tag-teal">{{item.tags[3] }}
                                                            </div> {% endif %}
                                                            {% if item.tags[4] %} <div class="tag tag-teal">{{item.tags[4] }}
                                                            </div> {% endif %}
                                                            {% if item.tags[5] %} <div class="tag tag-teal">{{item.tags[5] }}
                                                            </div> {% endif %}
        
                                                        </div>
        
                                                        <div class="user">
                                                            <div class="user-info">
        
                                                                <small>
                                                                    <time id="postedon"
                                                                        datetime="{{ item.date | date_to_xmlschema }}">
                                                                        Posted on {{ item.date | date: "%B %-d, %Y" }}
                                                                    </time>
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                            {% endfor %}
        
                                        </div>
                                    </div>



                        </div>
                        
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <aside class="blog-sidebar">
                            
                            <div class="widget sidebar-widget
                                    widget_categories">
                                <h3 class="widget-title">Sort by Category</h3>
                                <!--Categories-Filter-Start-- Add more Categories  if you want include only these categories in projects-->
                                <div class="row mt-4 pt-2">
                                    <div class="col-lg-12">
                                        <ul class="portfolioFilter text-center mb-0 list-unstyled"
                                            style="display: flex;flex-wrap: wrap;justify-content: space-evenly;align-content: center;flex-direction: row;">
                                            <li class="list-inline-item mb-3"><a href="#" data-filter="*"
                                                    class="active text-dark mr-2 py-2 px-3 rounded">All Posts</a></li>
                                            <li class="list-inline-item mb-3"><a href="#" data-filter=".philosophy"
                                                    class="text-dark mr-2 py-2 px-3 rounded">Philosophy</a></li>
                                            <li class="list-inline-item mb-3"><a href="#" data-filter=".coding"
                                                    class="text-dark mr-2 py-2 px-3 rounded">Coding</a></li>
                                            <li class="list-inline-item mb-3"><a href="#" data-filter=".neuroscience"
                                                    class="text-dark mr-2 py-2 px-3 rounded">Neuroscience</a></li>
                                            <li class="list-inline-item mb-3"><a href="#" data-filter=".design"
                                                    class="text-dark mr-2 py-2 px-3 rounded">Design</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--Categories-Filter-End-->
                            </div>
                            <!-- <div class="widget sidebar-widget">
                                <div class="sidePost-active">
                                    {% assign sorted = site.posts | sort: 'date' |
                                    reverse %} {% for item in sorted %}
                                    <div class="sidePost__item" data-background="{{item.image |
                                        relative_url}}">
                                        <div class="sidePost__content">
                                            <a href="" class="tag">{{item.tag}}</a>
                                            <h5 class="title
                                                    tgcommon__hover"><a href="{{item.url |
                                                        relative_url }}">{{item.title}}</a></h5>
                                        </div>
                                        
                                    </div>
                                    {% endfor %}
                                </div>
                            </div> -->
                            <!-- <div class="widget sidebar-widget">
                                    <h4 class="widget-title">Instagram Feeds</h4>
                                    <div class="sidebarInsta__wrap">
                                        <div class="sidebarInsta__top">
                                            <div class="sidebarInsta__logo">
                                                <img src="/blog_assets/img/instagram/insta_logo.png" alt="img">
                                            </div>
                                            <div class="sidebarInsta__info">
                                                <h6 class="name"><a href="#">ins.co/sarso.co</a></h6>
                                                <span class="designation">Code Supply Co.</span>
                                            </div>
                                        </div>
                                        <div class="sidebarInsta__slider-wrap">
                                            <div class="swiper-container sidebarInsta-active">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <a href="https://www.instagram.com/" target="_blank"><img src="/blog_assets/img/instagram/side_insta01.jpg" alt="img"></a>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <a href="https://www.instagram.com/" target="_blank"><img src="/blog_assets/img/instagram/side_insta02.jpg" alt="img"></a>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <a href="https://www.instagram.com/" target="_blank"><img src="/blog_assets/img/instagram/side_insta03.jpg" alt="img"></a>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <a href="https://www.instagram.com/" target="_blank"><img src="/blog_assets/img/instagram/side_insta04.jpg" alt="img"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-container sidebarInsta-active-2" dir="rtl">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <a href="https://www.instagram.com/" target="_blank"><img src="/blog_assets/img/instagram/side_insta05.jpg" alt="img"></a>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <a href="https://www.instagram.com/" target="_blank"><img src="/blog_assets/img/instagram/side_insta06.jpg" alt="img"></a>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <a href="https://www.instagram.com/" target="_blank"><img src="/blog_assets/img/instagram/side_insta07.jpg" alt="img"></a>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <a href="https://www.instagram.com/" target="_blank"><img src="/blog_assets/img/instagram/side_insta08.jpg" alt="img"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sidebarInsta__bottom">
                                            <a href="https://www.instagram.com/" target="_blank" class="btn"><i class="fab fa-instagram"></i><span class="text">Follow Me</span></a>
                                        </div>
                                    </div>
                                </div> -->
                        </aside>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- blog-details-area-end -->
    </div>
</section>
{% include pagination.html %}